.product {
    border: 0;
    color: black;
}

.product img {
    height: 15rem;
    border-radius: 15px;
    object-fit: cover;
}

.price {
    font-weight: 700;
}

.notification {
    background-color: lightgray;
    border: solid grey 1px;
}