.brand {
	color: white;
	font-size: 2.5rem;
}

.brand:hover {
	color: white;
}

.nav-bar {
	width: 100%;
	background-color: #97b2c9;
	border-bottom: 3px solid #b0c8dc;
	margin: 0;
	padding-inline: 2%;
}

.nav-btn {
	color: white;
	font-size: 1.35rem;
	font-weight: 700;
	text-align: justify;
}

.offcanvas-btn {
	border-bottom: solid white 1px;
	padding-left: 10px;
}

@media screen and (min-width: 991px) {
	.offcanvas-btn,
	.offcanvas-menu-btn {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.main-menu {
		visibility: hidden;
	}
}

.offcanvas-menu {
	background-color: #b0c8dcdd;
}
